.burger{
    z-index: 20;
    display: none;
    position: absolute;
    top: 4vh;
    right: 30px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    -webkit-appearance: none;
}
.burger span{
    position: absolute;
    top: 45%;
    height: 3px;
    width: 25px;
}
.burger span::before,
.burger span::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 25px;
}
.burger span,
.burger span::before,
.burger span::after{ 
    transition: .35s;
    background: var(--dark-black-fogra); 
}
.burger span::before{
    top: -.6rem;
}
.burger span::after{
    top: .6rem;
}

/* Hover Effect */
.burger:hover span{
    background: var(--princeton-orange);
}
.burger:hover span::before{
    background: var(--bright-yellow);
}
.burger:hover span::after{ 
    background: var(--cinnabar); 
}

/* Small Fixes */

/* Cant see yellow ::before on yellow background */
.burger-active.burger:hover span::before{
    background: var(--cinnabar);
}
/* Make burger follow if scrolled */
.burger-active.burger{
    position: fixed;
}

/* Burger Animation */
.burger-active.burger span{
    background: rgba(0, 0, 0, 0);
}
.burger-active.burger span::before{
    top: 0;
    transform: rotate(45deg);
}
.burger-active.burger span::after{
    top: 0;
    transform: rotate(135deg);  
}

@media screen and (max-width: 768px){
    .burger{
        display: initial;
    }
}