/* Retro Lines Decoration */
.retroLines{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  
  --border-radius: 18vh;
  --line-width: 1.75vh;
}
.retroLines__black{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%; /* Height of black lines */
  width: 100%;
}
.retroLines__red,
.retroLines__orange,
.retroLines__yellow{
  position: absolute;
  left: 0; /* Space in between colored lines */
  bottom: 0;
  height: 90%; /* Height of colored lines */
  width: 100%;
}

/* Line Colors */
.retroLines__black{ background: var(--black-fogra); }
.retroLines__red{ background: var(--cinnabar); }
.retroLines__orange{ background: var(--princeton-orange); }
.retroLines__yellow{ background: var(--bright-yellow); }

/* Inside white space - creates curved line effect */
.retroLines__blackInside,
.retroLines__redInside,
.retroLines__orangeInside,
.retroLines__yellowInside{
  position: absolute;
  left: var(--line-width); /* Vertical colored line width */
  top: -1px;
  height: calc(100% - var(--line-width)); /* Horizontal colored line height */
  width: 100%;
  background: var(--floral-white); /* Background color */
  overflow: hidden;
}

/* Border Radius */
/* Outer most radius[180px] - ( line width * inside border # ) */
.retroLines__blackInside{ 
  border-bottom-left-radius: var(--border-radius); 
}
.retroLines__redInside{ 
  border-bottom-left-radius: calc(var(--border-radius) - 1.75vh)
}
.retroLines__orangeInside{ 
  border-bottom-left-radius: calc(var(--border-radius) - 3.5vh) 
}
.retroLines__yellowInside{ 
  border-bottom-left-radius: calc(var(--border-radius) - 5.25vh) 
}


@media screen and (max-width: 425px) {
  .retroLines{ 
    --line-width: 1.25vh; 
    --border-radius: 15vh;
  }
  .retroLines__blackInside{ 
    border-bottom-left-radius: var(--border-radius); 
  }
  .retroLines__redInside{ 
    border-bottom-left-radius: calc(var(--border-radius) - 1.25vh)
  }
  .retroLines__orangeInside{ 
    border-bottom-left-radius: calc(var(--border-radius) - 2.5vh) 
  }
  .retroLines__yellowInside{ 
    border-bottom-left-radius: calc(var(--border-radius) - 3.75vh) 
  }
}