.sidebar{
  z-index: 15;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  right: -360px;
  height: 100vh;
  width: 350px;
  background-color: var(--bright-yellow);
  transition: .5s ease;
}
.sidebar-active{ right: 0; }

/* Navigation + Resume */
.sidebar__nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 20vh;
  margin-bottom: 10vh;
}
.sidebar__nav a{ 
  cursor: pointer;
}

/* Resume Button */
.sidebar__resume{
  margin-bottom: 10vh;
  cursor: pointer;
}

/* Links */
.sidebar__links{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 50%;
  margin-bottom: 20vh;
}
.sidebar__links li{
  display: flex;
  align-items: center;
}
.sidebar__links li a{
  padding: 5px 5px;
  cursor: pointer;
}

/* Font sizes */
.sidebar i{ font-size: 35px; } /* Icons */
.sidebar a { font-size: 25px; } /* Text */

/* Hovers: nav links */
.sidebar__nav a:hover,
.sidebar__resume:hover{
  letter-spacing: 2px;
}
/* Hovers: socials */
.sidebar__links a:hover{
  transform: translateY(-5px);
}
.sidebar a{ transition: .2s;}


/* ==== Media Queries ==== */

/* Tablet */
@media screen and (max-width: 768px) {
  .sidebar{
    display: flex;
    width: 100%;
    right: -100%;
  }
  .sidebar-active{
    right: 0;
  }
  .sidebar__nav{
    height: 25vh;
  }
}