.burger{
    position: absolute;
    top: 28px;
    left: auto;
    right: auto;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    -webkit-appearance: none;
}
.burger span{
    position: absolute;
    top: 45%;
    height: 3px;
    width: 1.5rem;
    background-color: var(--primary);
}
.burger span::before,
.burger span::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 1.5rem;
    background-color: var(--primary);
    transition: background-color .35s .35s, transform .35s;
}
.burger span::before{
    top: -.5rem;
}
.burger span::after{
    top: .5rem;
}

/* Burger animation */
.burger-active.burger span{
    background: rgba(0, 0, 0, 0);
    transition: .35s .35s;
}
.burger-active.burger span::before{
    top: 0;
    background-color: var(--background);
    transform: rotate(45deg);
    transition: all .35s, transform .35s .35s, top .35s .35s;
}
.burger-active.burger span::after{
    top: 0;
    transform: rotate(135deg);
    background-color: var(--background);
    transition: all .35s, transform .35s .35s, top .35s .35s;    
}