/* SideBar elements: Showing when sidebar is NOT Active */
.sidebar{
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    box-shadow: 5px 0px 15px transparent;
    background-color: rgb(233, 236, 241);
    transition: width .25s, box-shadow .25s .25s;
}
.sidebar a{
    color: black;
}
.burger{
    position: absolute;
    top: 30px;
    left: 30px;    
    font-size: 20px;
}
.socials{
    display: flex;
    flex-direction: column;
    align-items: center ;
}
.socials-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 310px;
}
.socials-container::after{
    content: '';
    height: 100px;
    width: 2px;
    background: black;
}
.socials-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 200px;
}
.socials-list li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    overflow: hidden;
    cursor: pointer;
    transition: transform .2s;
}
.socials-list li:hover{
    transform: translateY(-5px);
}
.socials-list li a i{
    font-size: 1.5rem;
    font-weight: 500;
}
.navigation, 
.resume,
.socials > p{
    opacity: 0;
}

/* SideBar elements: showing when sidebar IS active */
.sidebar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 80%;
    width: 80%;
}
.navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}
.navigation > p,
.socials > p{
    font-weight: 600;
    padding: 0px 5px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid black;
}
.navigation-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 200px;
}
.navigation-list li{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 150px;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    transition: letter-spacing .2s;
}
.navigation-list li:hover{ letter-spacing: 2px; }
.resume{
    padding: 10px 15px;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    border: solid 2px black;
    border-radius: 4px;
    box-shadow: 0px 0px 0px black;
}
.resume:hover{ 
    transform: translate(-5px, -5px); 
    box-shadow: 5px 5px 0px black;
}

/*  sidebar active actions: 
    - changing opacities
    - changing container sizes and flex-directions
*/
.sidebar-active{
    justify-content: center;
    width: 400px;
    box-shadow: 5px 0px 15px lightcoral;
    transition: width .5s .25s;
}
.sidebar-active .sidebar-container{
    justify-content: space-around;    
}
.sidebar-active .navigation,
.sidebar-active .socials > p{ 
    height: fit-content;
    opacity: 1; 
    transition: opacity .25s .5s;
}
.sidebar-active .resume{
    opacity: 1;
    transition: transform .2s, box-shadow .2s, opacity .25s .5s;
}
.sidebar-active .socials-container{
    height: fit-content;
}
.sidebar-active .socials-container::after{
    display: none;
}
.sidebar-active .socials-list{
    animation: socialsAnimation .25s .5s both;
}


/* KEYFRAME: socials-list */
@keyframes socialsAnimation {
    0%{
        flex-direction: column; 
        opacity: 0;  
    }
    5%{
        flex-direction: row;
        width: 250px;
        height: 80px;
    }
    100%{
        flex-direction: row;
        width: 250px;
        height: 80px;
        opacity: 1;
    }
} 